body {
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.square {
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid gray;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after{
    position: absolute;
    content: "\26AB";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after{
    position: absolute;
    content: "\1F534";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#refresh {
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px;
}

#refresh:hover {
    transition: 600ms;
    background-color: red;
    color: rgb(0, 0, 0);
    box-shadow: none;
}